@use './_colors.scss';

html {
    min-height: 100%;
    background: linear-gradient(#2863D7, #8EB5FF);
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
}

.App {
    padding: 50px 150px;
}

header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.goldy {
    color: colors.$saffron;
}

.icon {
    font-size: 32px;
}

.connection {
    font-size: 24px;
    color: colors.$silver-sand;

    .login {
        margin-right: 40px;
    }
}

main {
    display: flex;
    position: relative
}

.slogan-and-join {
    width: 450px;
    margin-top: 220px;

    button {
        margin-top: 50px;
    }
}

.slogan {
    font-weight: bold;
    font-size: 48px;
}

.slogan-text {
    color: colors.$tundora;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    font-family: inherit;
    background-color: colors.$medium-purple;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;

    &:hover {
        background-color: colors.$medium-purple-strong;
    }
}

.selfie {
    position: absolute;
    right: 0px;
}