$saffron: #F3B72E;
$silver-sand: #C4C6C8;
$tundora: #464646;
$medium-purple: #B742DA;
$medium-purple-strong: #A621CD;

html {
    min-height: 100%;
    background: linear-gradient(#2863D7, #8EB5FF);
    background-repeat:no-repeat;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
}

.App {
    padding: 50px 300px;
}

header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.goldy {
    color: $saffron;
}

.icon {
    font-size: 32px;
}

.connection {
    font-size: 24px;
    color: $silver-sand;

    .login {
        margin-right: 40px;
    }
}

main {
    display: flex;
    position: relative
}

.slogan-and-join {
    width: 450px;
    margin-top: 220px
}

.slogan {
    font-weight: bold;
    font-size: 48px;
}

.slogan-text {
    color: $tundora;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
    font-size: 28px;
    font-family: inherit;
    background-color: $medium-purple;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;

    &:hover {
        background-color: $medium-purple-strong;
    }
}

.selfie {
    position: absolute;
    right: 0px;
}